{{define "header"}}
<html>
    <head>
        <title>Rednosio{{if .PageTitle}} - {{.PageTitle}}{{end}}</title>
        <link type="text/css" rel="stylesheet" href="/static/bootstrap.css"/>
        <link type="text/css" rel="stylesheet" href="/static/rednosio.css"/>
        <script type="text/javascript" src="/static/jquery.js"></script>
    </head>

    <body>
        <div id="navbar" class="navbar navbar-static-top">
            <div class="navbar-inner">
                <div class="container">
                    <span class="brand">Rednosio</span>

                    <ul class="nav">
                        <li{{if .NavHome}} class="active"{{end}}><a href="/">Home</a></li>
                        <li{{if .NavUploads}} class="active"{{end}}><a href="/browse/uploads">Uploads</a></li>
                        <li{{if .NavDownloads}} class="active"{{end}}><a href="/browse/downloads">Downloads</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="page" class="container">
{{end}}