{{define "header"}}
<html>
    <head>
        <title>Rednosio</title>
        <link type="text/css" rel="stylesheet" href="/static/bootstrap.css"/>
        <link type="text/css" rel="stylesheet" href="/static/rednosio.css"/>
        <script type="text/javascript" src="/static/jquery.js"></script>
    </head>

    <body>
        <div id="navbar" class="navbar navbar-static-top">
            <div class="navbar-inner">
                <div class="container">
                    <span class="brand">Rednosio</span>

                    <ul class="nav">
                        <li class="active"><a href="/">Home</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="page" class="container">
{{end}}