{{template "header" .}}

<div class="alert alert-info punchline">
    <strong>Add a red nose to your images!</strong>
</div>

{{if .ErrMsg}}
    <div class="alert alert-error">
        <strong>Error!</strong> {{.ErrMsg}}
    </div>
{{end}}

<form id="image-upload"
      action="/"
      method="POST"
      enctype="multipart/form-data">
    <legend>Upload the image to place red nose on</legend>

    <input type="file" name="image"/>

    <button type="submit" class="btn">Upload!</button>
</form>

{{template "footer" .}}