{{template "header" .}}

<div class="alert alert-info punchline">
    <strong>Click the image to place the red nose!</strong>
</div>

<ul id="rednosifier">
    <li><input id="size" type="range" min="10" max="100" step="1" value="25"/></li>
    <li><img id="pic"/></li>
    <li><a id="save">Save Image</a></li>
</ul>

<script type="text/javascript">
    $(document).ready(function() {
        var id = "{{.ImgId}}";
        var $pic = $("#pic");
        var $save = $("#save");
        var x = 0;
        var y = 0;

        function update() {
            var query = "id=" + id +
                        "&x=" + x + "&y=" + y +
                        "&s=" + $("#size").val();

            $pic.attr("src", "/image?" + query);
            $save.attr("href", "/save?" + query);
        }

        $pic.click(function(e) {
                x = e.pageX - this.offsetLeft;
                y = e.pageY - this.offsetTop;
                update();
        });

        $("#size").bind("mouseup", update);
        update();
    })
</script>

{{template "footer" .}}